<div class="row">
    <div class="col s8 offset-s2">
        <div class="signup-box">
            <div class="row k-ripple-container ng-star-inserted" kendoripplecontainer>
                <div class="sm-jumbotron center-align">
                    <h2 class="padding-10">Registration</h2>
                </div>
                <form class="k-form" #userRegistrationForm="ngForm">
                    <label class="k-form-field">
                        <span>Required field
                            <span class="k-required">*</span>
                        </span>
                        <input class="k-textbox" placeholder="Username" name="UserName" #UserName="ngModel" [(ngModel)]="user.UserName" />
                    </label>

                    <label class="k-form-field">
                        <span>
                            Field info
                            <span class="k-field-info">optional</span>
                        </span>
                        <input class="k-textbox" placeholder="Pasword" name="Password" #Password="ngModel" [(ngModel)]="user.Password" />
                    </label>
                    <div class="row">
                        <div class="input-field col s12">
                            <button kendobutton [disabled]="!userRegistrationForm.valid" class="btn-large btn-submit" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>