<div id="login-page" class="row display-center">
    <div class="col s12 z-depth-4 card-panel">
        <form class="login-form" #loginForm = ngForm (ngSubmit)="login()">
            <div class="row">
                <div class="input-field col s12 center">
                    <img src="/../../assets/images/login-logo.png" alt="" class="circle responsive-img valign profile-image-login">
                    <p class="center login-form-text">Materia Genesis</p>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-social-person-outline prefix"></i>
                    <input id="username" type="text" #username="ngModel" required name="username" [(ngModel)]="model.username">
                    <label for="username" class="center-align">Username</label>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-action-lock-outline prefix"></i>
                    <input id="password" type="password" #password="ngModel" required name="password" [(ngModel)]="model.password">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m12 l12  login-text">
                    <input type="checkbox" id="remember-me" />
                    <label for="remember-me">Remember me</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button [disabled]="!loginForm.valid" type="submit" class="btn waves-effect pink lighten-1 col s12">Login</button>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 m6 l6">
                    <p class="margin medium-small">
                        <a href="/register">Register Now!</a>
                    </p>
                </div>
                <div class="input-field col s6 m6 l6">
                    <p class="margin right-align medium-small">
                        <a href="#">Forgot password ?</a>
                    </p>
                </div>
            </div>

        </form>
    </div>
</div>

    


<!--
<div class="row">
    <div class="col s8 offset-s2">
        <div class="signin-box">
            <div class="row k-ripple-container ng-star-inserted" kendoripplecontainer>
                <div class="sm-jumbotron center-align">
                    <h2 class="padding-10">Login</h2>
                </div>
                <form class="k-form" #loginForm="ngForm" (ngSubmit)="OnSubmit(UserName.value,Password.value)">
                    <label class="k-form-field">
                        <span>Required field
                            <span class="k-required">*</span>
                        </span>
                        <input class="k-textbox" placeholder="Username" name="UserName" #UserName ngModel />
                    </label>

                    <label class="k-form-field">
                        <span>Required field
                            <span class="k-required">*</span>
                        </span>
                        <input type="password" class="k-textbox" placeholder="Password" name="Password" #Password ngModel/>
                    </label>
                    <div class="row">
                        <div class="input-field col s12">
                            <button kendobutton [disabled]="!userRegistrationForm.valid" class="btn-large btn-submit" type="submit">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
-->